# Ignore Python build artifacts
fastapi_rate_limiter.egg-info/
*.egg-info/
build/
dist/

# Ignore local setup script
setup.py

# Common Python ignores
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pkl

# Virtual environments
venv/
.env/

# IDEs
.vscode/
.idea/
