# Python
__pycache__/
*.py[cod]
*.egg-info/
*.egg
*.pyo
*.pyd
*.pkl

# Build
build/
dist/
.eggs/

# Environments
venv/
.env/
.env.*
*.venv/

# IDEs
.vscode/
.idea/

# OS junk
.DS_Store
Thumbs.db

# Tests cache
.pytest_cache/
coverage.xml
